.WeatherInfo {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
}
.WeatherInfo h1 {
  font-family: 'Prompt', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 29px;
  margin: 20px 0 10px;
}
.WeatherInfo h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 20px;
}
.WeatherInfo a {
  text-decoration: none;
}
.WeatherInfo .temperature-container {
  margin-top: 50px;
}
.WeatherInfo .temperature{
  font-family: 'Prompt', sans-serif;
  font-size: 150px;
  font-weight: 100;
  line-height: 64px;
  margin-left: 10px;
  margin-top: 40px;
}
.WeatherInfo .weather-description{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 10px;
}
.WeatherInfo .unit{
  font-family: 'Prompt', sans-serif;
  position: relative;
  top: -66px;
  font-size: 72px;
  font-weight: 200;
  line-height: 1;
  margin-left: 5px;
}
.WeatherInfo .feelsLike{
  margin-top: 10px;
  margin-right: 25px;
}
