.Weather {
  font-family: sans-serif;
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  padding: 40px;
  border-radius: 16px;
}
.Weather .weather-details-container {
  margin-top: 50px;
}
.Weather .col-3 {
  width: 36%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Weather .with-border {
  border-right-color: rgba(86, 61, 124, 0.2);
  border-right-style: solid;
  border-right-width: 1px;
}
.Weather .detail-title {
  font-size: 16px;
  font-weight: 100;
  line-height: 16px;
}
.Weather .detail-value {
  margin-top: 5px;
  font-weight: 100;
}