.WeatherDetails {
  display: inline;
  margin: 30px 0;
}
.WeatherDetails .col-3 {
  width: 36%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.WeatherDetails .with-border {
  border-right-color: rgba(86, 61, 124, 0.2);
  border-right-style: solid;
  border-right-width: 1px;
}
.WeatherDetails .detail-title {
  font-size: 16px;
  font-weight: 100;
  line-height: 16px;
}
.WeatherDetails .detail-value {
  margin-top: 5px;
  font-weight: 100;
}

.WeatherDetails .temperature-min{
    opacity: 0.6;
    margin-left: 5px;
}
